body {
    padding: 0px !important;
}

#left-sidebar {
    padding: 14px;
}

#screen-center-region {
    height: 100%;
}

#screen-center-region > #binding-instructions-region {
    height: 100%;
}

#binding-instructions-area {
    height: 100%;
    font-family: monospace;
}

#body-container {
    margin-top: 0px;
    margin-bottom: 0px;
    overflow-y: hidden;
}

#binding-instructions-region {
    margin: 14px;
}

div .hoverable {
    cursor: pointer;
}

div .end-bind {
    color: #a52a2a !important;
}

div .bind {
    color: #0e6eb8 !important;
}

div .left-bind-border {
    border-left: 2px solid darkslategrey;
    padding: 2px;
}

div .left-bind-border > p {
    margin: 0px;
}